################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net5.0
/.vs
/Design-Principles/obj
/Design-Principles/bin/Debug/net5.0
